.button {
    background-color: var(--primary);
    border: none;
    border-radius: 25px;
    padding: 1rem 2rem;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    font-size: 1rem;
    transition: .2s;
}

.button:hover {
    background-color: var(--primary-dark);
}

@media screen and (max-width: 600px) {
    .button {
        padding: 1rem 1.5rem;
        font-size: 1.1rem;
    }
}