.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg1);
    padding: 5rem 0;
}

.title {
    margin-bottom: 5rem;
    font-size: 2.5rem;
    text-align: center;
    width: 90%;
}

.body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.image {
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    font-weight: bold;
}

.list p {
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.2rem;
    height: 3.2rem;
    color: var(--primary);
    background-color: var(--bg2);
    padding: .5rem;
    border-radius: 25px;
}

@media screen and (max-width: 600px) {
    .title {
        margin-bottom: 4rem;
        font-size: 2rem;
    }

    .body {
        flex-direction: column;
        gap: 3rem;
    }

    .wrapper {
        width: 90%;
    }

    .list p {
        font-size: 1.5rem;
    }

    .icon {
        width: 3rem;
        height: 3rem;
    }
}