* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #00DFFA;
  --primary-dark: #04a1b3;
  --red: #dc3545;
  --bg1: #fff;
  --bg2: #111525 ;
}

body {
  background-color: #fff;
  font-family: "Montserrat";
}


/* Scroll bar */
::-webkit-scrollbar {
  width: 10px;
  background-color: #000;
}
  
/* Track */
::-webkit-scrollbar-track {
  background: transparent; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary); 
  border-radius: 25px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-dark); 
}